body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  margin-right: 10px
}
/**
nav .navbar-collapse {
  position: fixed;
  top: 56px;
  background: #343a40;
  right: -100%; 
  width: 100vw;
  height: 100vh;
  display: block;
  transition: right 0.3s ease; 
}

nav .navbar-collapse.show {
  right: 0; 
}
*/